@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italiana&family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Italiana&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');




/* STYLING HOMEPAGE */

/* styling col one */

.homepage-container{
    padding-left: 63px;
    padding-top: 3rem;
}
.sec-one-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #059595;
}
.sec-one-sub-title{
    padding-top: 5rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
}
.sec-one-sub-title b{
    color: #059595;
}
.sec-one-description{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.sec-one-btn-row{
    padding-top: 4rem;
    /* padding-left: 2rem; */
}
.sec-one-explore-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFDFD;
    background: #059595;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 5px;
    border: none;
    padding:8px 1.5rem 8px
}
.sec-one-explore-btn:hover{
    color: #FFFDFD;
    background: #059595;
    border: none;  
}
.sec-one-contact-btn{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px; 
    color: #059595;
    background: #FDFFFF;
    border: 2px solid #059595;
    border-radius: 30px 5px;
    padding:6px 1.5rem 6px
}
.sec-one-contact-btn:hover{
    color: #059595;
    background: #FDFFFF;
    border: 2px solid #059595;
}
.sec-one-statistic-row{
    padding-top: 5rem;
    padding-left: 10px;
}
.sec-one-project-cover{
    width:30px;
    height:18px;
    background: rgba(248, 18, 18, 0.64);
    border-radius: 15px 15px 118px 118px;
    transform: matrix(0.78, -0.62, -0.62, -0.78, 0, 0);
}
.sec-one-project-number-div{
    padding-left: 12px;
    margin-top: -1.2rem;
}
.sec-one-project-number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}
.sec-one-project-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8); 
}
.sec-one-building-cover{
    width:30px;
    height:18px;
    background: rgba(134, 195, 251, 0.8);
    border-radius: 15px 15px 118px 118px;
    transform: matrix(0.78, -0.62, -0.62, -0.78, 0, 0);
}
.sec-one-building-number-div{
    padding-left: 7px;
    margin-top: -1.2rem;
}
.sec-one-building-number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}
.sec-one-building-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8); 
}
.sec-one-employee-cover{
    width:30px;
    height:18px;
    background: rgba(39, 198, 13, 0.64);
    border-radius: 15px 15px 118px 118px;
    transform: matrix(0.78, -0.62, -0.62, -0.78, 0, 0);
}
.sec-one-employee-number-div{
    padding-left: 10px;
    margin-top: -1.2rem;
}
.sec-one-employee-number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #000000;
}
.sec-one-employee-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.8); 
}

/* styling col two */


.nav-side-cover-col{
    padding-top:8rem;
}
.nav-side-cover{
    height: 190px;
    width: 125px;
    background: rgba(134, 195, 251, 0.45);
    border-top-left-radius: 100px;
}
.nav-img-link-div{
    padding-top: 1.5rem;
    background: rgba(134, 195, 251, 0.8);
    border-radius: 10px 10px 10px 362.5px;
}
.nav-link-row{
    text-align: center;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
}
.nav-img{
    width:100%;
    padding-top: 10px;
}
.nav-bottom-cover{
    margin-left: 25rem;
    height: 90px;
    width: 190px;
    background: rgba(134, 195, 251, 0.45);
    border-bottom-right-radius: 100px;
}


/* STYLING CATEGORY */
.category-container{
    padding-top: 5rem;
}
.category-row{
    background: rgba(217, 217, 217, 0.35);
    border-radius: 70px;
    text-align: center;
    justify-content: center;
    padding: 2rem 0rem 1.9rem;
}
.category-div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #059595;
}
.category-img{
    width: 30.06px;
    height: 29.29px;
}

/*  STYLING COMPANY ACQUIREMENT */
/* Row One */
.comapny-reason-row-one{
    padding-top: 3rem;
}
.comapny-reason-row-one-col-one-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.comapny-reason-row-one-col-one-btn-div{
    padding-top: 4.5rem;
}
.comapny-reason-row-one-col-two-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 46px;
    color: #000000;
}

/* Row Two */
.comapny-reason-row-two{
    padding-top: 6rem;
}
.comapny-reason-row-two-img{
    width:100%
}
.comapny-reason-row-two-col-two{
    padding-left:3rem
}
.comapny-reason-row-two-col-two .row{
    padding-top: 7.5rem;
}
.comapny-reason-row-two-number{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    color: #000000;
    padding-left: 1rem;
}
.comapny-reason-row-two-number-bg-cover-one{
    background: #059595;
    border-top-left-radius:5px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:5px ;
    width: 40px;
    height: 50px;
    margin-top: -2.4rem;
}
.comapny-reason-row-two-number-bg-cover-two{
    background: rgba(248, 18, 18, 0.64);
    border-top-left-radius:5px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:5px ;
    width: 40px;
    height: 50px;
    margin-top: -2.4rem;
}
.comapny-reason-row-two-number-bg-cover-three{
    background: rgba(39, 198, 13, 0.64);
    border-top-left-radius:5px ;
    border-top-right-radius:20px ;
    border-bottom-left-radius:20px ;
    border-bottom-right-radius:5px ;
    width: 40px;
    height: 50px;
    margin-top: -2.4rem;
}
.comapny-reason-row-two-text-col{
    padding-top: 2.7rem;
}
.comapny-reason-row-two-text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}


/* STYLING ENGINEERS PAGE */
.engineer-container{
    padding-top: 7rem;
}
.engineer-header-div{
    text-align: center;
}
.engineer-heading{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #000000;
}
.engineer-sub-heading{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.engineer-row{
    background: rgba(217, 217, 217, 0.2);
    border-radius: 20px;
    /* justify-content: center; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.engineer-col{
    background: #ffffff;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    width: 30%;
}
.engineer-icon-div{
    text-align: end;
    padding-top: 10px;
}
.engineer-icon{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.engineer-img-div{
    text-align: center;
}
.engineer-img{
    width: 145px;
    height: 140px;
}
.engineer-name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    padding-top: 10px;
}
.engineer-country{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #000000;
}
.engineer-number{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    text-align: center;
    color: #000000;
    padding-top: 10px;
}
.engineer-email{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #059595;
}


/* STYLING FOOTER  PAGE */

.footer-container{
    padding-top: 5rem;
}
.footer-col-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #059595;
}
.footer-col-sub-title{
    padding-top: 2rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}
.footer-col-row{
    padding-top: 2rem;
}
.footer-col-one-row-icon{
    color: #FAFBFF;
    background: #059595;
    border-radius: 10px;
    width: 27px;
    height: 35px;
}
.footer-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}
.footer-item{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
}
.footer-input-div{
    padding-top: 2rem;
}
.footer-input{
    background: rgba(217, 217, 217, 0.33);
    border-radius: 10px;
    border: none;
    padding: 8px 1rem 8px;
}
.footer-input::placeholder{
    color: rgba(0, 0, 0, 0.65);    
}
.footer-icon{
    width: 30px;
    height: 30px;
    color: rgba(39, 198, 13, 0.82);
    background: #FFFFFF;
    margin-left: -3rem;
    border-radius: 50%;
}
.footer-copyright-div{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 8rem;
}






/*  STYLING ON SMALLER SCREEN */

/* Portrait phones */
@media screen and (max-width: 400px){

    /*  STYLING HOMEPAGE */
    .homepage-container{
        padding-left: 33px
    }
    .sec-one-title{
        font-size: small;
    }
    .sec-one-sub-title{
        font-size: 10px;
        padding-top: 12px;
    }
    .sec-one-description{
        padding-top: 12px;
        font-size: 7px;
    }
    .sec-one-btn-row{
        padding-top: 15PX;
    }
    .sec-one-explore-btn{
        font-size: 8px;
    }
    .sec-one-contact-btn{
        margin-left: 10px;
        font-size: 8px;
        width:97px;
    }
    .sec-one-statistic-row{
        padding-left: 7px;
        padding-top: 15px;
    }
    .sec-one-project-cover{
        width:12px;
        height:9px;
    }
    .sec-one-project-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-project-number{
        font-size: 10px;
    }
    .sec-one-project-title{
        font-size: 7px;
    }
    .sec-one-building-col{
        padding-left: 1.2rem;
    }
    .sec-one-building-cover{
        width:12px;
        height:9px;
    }
    .sec-one-building-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-building-number{
        font-size: 10px;
    }
    .sec-one-building-title{
        font-size: 7px;
    }
    .sec-one-employee-col{
        padding-left: 1.5rem;
    }
    .sec-one-employee-cover{
        width:12px;
        height:9px;
    }
    .sec-one-employee-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-employee-number{
        font-size: 10px;
    }
    .sec-one-employee-title{
        font-size: 7px;
    }

    /* col two */
    .nav-side-cover-col{
        padding-top: 3rem;
    }
    .nav-side-cover{
        width: 36px;
        height: 45px;
    }
    .nav-bottom-cover{
        margin-left: 4rem;
        width: 45px;
        height: 31px;
    }
    .nav-img-link-div{
        padding-top: 7px;
    }
    .nav-link-row{
        font-size: 4px;
        text-align: none;
        justify-content: none;
    }

    /* STYLING CATEGORY */
    .category-row{
        border-radius: 70px;
        padding: 1rem 0rem 0.9rem;
    }
    .category-div{
        font-weight: 700;
        font-size: 12px;
        color: #059595;
    }
    .category-img{
        width: 12.06px;
        height: 9.29px;
    }

    /* STYLING COMPANY ACQUIREMENT */
    .comapny-reason-row-one-col-one-text{
        font-size: 6px;
    }
    .comapny-reason-row-one-col-one-btn-div{
        padding-top: 1px;
    }
    .comapny-reason-row-one-col-two-text{
        font-size: 10px;
    }

    .comapny-reason-row-two{
        padding-top: 1.4rem;
    }
     .comapny-reason-row-two-img{
        height: 330px;
    }
    .comapny-reason-row-two-col-two{
        padding-left:1rem
    }
    .comapny-reason-row-two-col-two .row{
        padding-top: 2rem;
    }
    .comapny-reason-row-two-number{
        font-size: 20px;
        padding-left: 10px;
    }
    .comapny-reason-row-two-number-bg-cover-one{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 20px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-two{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 20px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-three{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 20px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-text-col{
        padding-top: 10px;
        padding-left: 2rem;
    }
    .comapny-reason-row-two-text{
        font-size: 7px;
    }

    /* STYLING ENGINEER PAGE */

    .engineer-container{
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .engineer-heading{
        font-size: 18px;
    }
    .engineer-sub-heading{
        font-size: 13px;
    }
    .engineer-row{
        padding-top: 0rem;
    }
    .engineer-col{
        width: 90%;
        margin-top: 2rem;
    }
    .engineer-img{
        width: 105px;
        height: 100px;
    }
    .engineer-name{
        font-size: 18px;
    }
    .engineer-country{
        font-size: 14px;
    }
    .engineer-number{
        font-size: 15px;
    }
    .engineer-email{
        font-size: 14px;
    }


    /* STYLING FOOTER PAGE */

    .footer-col-title{
        font-size: small;
    }
    .footer-col-sub-title{
        font-size: 10px;
    }
    .footer-col-one-row-icon{
        width: 17px;
        height: 25px;
    }
    .footer-title{
        font-size: small; 
    }
    .footer-item{
        font-size: 12px; 
    }
    .footer-input-div{
        padding-top: 10px;
    }
    .footer-input{
        padding: 5px 7px 5px;
        width: 140px;
    }
    .footer-input::placeholder{
        font-size: 12px;
    }
    .footer-icon{
        width: 20px;
        height: 20px;
        margin-left: -2rem;
    }
    .footer-copyright-div{
        padding-top: 5rem;
        font-size: 13px;
    }
}
@media screen and (min-width: 350px) and (max-width: 400px){
    .nav-bottom-cover{
        margin-left: 5.5rem;
        width: 48px;
        height: 31px;
    }
}
@media screen and (min-width: 400px) and (max-width: 576px){

    /*  STYLING HOMEPAGE */
    .homepage-container{
        padding-left: 33px
    }
    .sec-one-title{
        font-size: large;
    }
    .sec-one-sub-title{
        font-size: 17px;
        padding-top:12px;
    }
    .sec-one-description{
        padding-top: 12px;
        font-size: 13px;
    }
    .sec-one-btn-row{
        padding-top: 15px;
    }
    .sec-one-explore-btn{
        font-size: 12px;
    }
    .sec-one-contact-btn{
        font-size: 11px;
        width:114px;
        margin-left: 10px;
    }
    .sec-one-statistic-row{
        padding-left: 7px;
        padding-top: 15px;
    }
    .sec-one-project-cover{
        width:19px;
        height:13px;
    }
    .sec-one-project-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-project-number{
        font-size: 17px;
    }
    .sec-one-project-title{
        font-size: 12px;
    }
    .sec-one-building-col{
        padding-left: 1.2rem;
    }
    .sec-one-building-cover{
        width:19px;
        height:13px;
    }
    .sec-one-building-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-building-number{
        font-size: 17px;
    }
    .sec-one-building-title{
        font-size: 12px;
    }
    .sec-one-employee-col{
        padding-left: 1.5rem;
    }
    .sec-one-employee-cover{
        width:19px;
        height:13px;
    }
    .sec-one-employee-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-employee-number{
        font-size: 17px;
    }
    .sec-one-employee-title{
        font-size: 12px;
    }

    /* col two */
    .nav-side-cover-col{
        padding-top: 3rem;
    }
    .nav-side-cover{
        width: 54px;
        height: 65px;
    }
    .nav-bottom-cover{
        margin-left: 6rem;
        width: 60px;
        height: 37px;
    }
    .nav-img-link-div{
        padding-top: 7px;
    }
    .nav-link-row{
        font-size: 9px;
        text-align: none;
        justify-content: none;
    }
    .nav-img{
        height: 410px;
    }

    /* STYLING CATEGORY */
    .category-row{
        border-radius: 70px;
        padding: 1rem 0rem 0.9rem;
    }
    .category-div{
        font-weight: 700;
        font-size: 17px;
        color: #059595;
    }
    .category-img{
        width: 15.06px;
        height: 12.29px;
    }

    /* STYLING COMPANY ACQUIREMENT */
    .comapny-reason-row-one-col-one-text{
        font-size: 12px;
    }
    .comapny-reason-row-one-col-one-btn-div{
        padding-top: 1px;
    }
    .comapny-reason-row-one-col-two-text{
        font-size: 18px;
    }

    .comapny-reason-row-two{
        padding-top: 1.4rem;
    }
    .comapny-reason-row-two-img{
        height: 450px;
    }
    .comapny-reason-row-two-col-two{
        padding-left:1rem
    }
    .comapny-reason-row-two-col-two .row{
        padding-top: 2rem;
    }
    .comapny-reason-row-two-number{
        font-size: 24px;
        padding-left: 10px;
    }
    .comapny-reason-row-two-number-bg-cover-one{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 24px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-two{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 24px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-three{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 24px;
        height: 30px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-text-col{
        padding-top: 10px;
        padding-left: 2rem;
    }
    .comapny-reason-row-two-text{
        font-size: 10px;
    }

    /* STYLING ENGINEER PAGE */

    .engineer-container{
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .engineer-heading{
        font-size: 25px;
    }
    .engineer-sub-heading{
        font-size: 17px;
    }
    .engineer-row{
        padding-top: 0rem;
    }
    .engineer-col{
        width: 90%;
        margin-top: 2rem;
    }
    .engineer-img{
        width: 125px;
        height: 120px;
    }
    .engineer-name{
        font-size: 18px;
    }
    .engineer-country{
        font-size: 14px;
    }
    .engineer-number{
        font-size: 15px;
    }
    .engineer-email{
        font-size: 14px;
    }


    /* STYLING FOOTER PAGE */

    .footer-col-title{
        font-size: small;
    }
    .footer-col-sub-title{
        font-size: 10px;
    }
    .footer-col-one-row-icon{
        width: 17px;
        height: 25px;
    }
    .footer-title{
        font-size: small; 
    }
    .footer-item{
        font-size: 12px; 
    }
    .footer-input-div{
        padding-top: 10px;
    }
    .footer-input{
        padding: 5px 7px 5px;
        width: 140px;
    }
    .footer-input::placeholder{
        font-size: 12px;
    }
    .footer-icon{
        width: 20px;
        height: 20px;
        margin-left: -2rem;
    }
    .footer-copyright-div{
        padding-top: 5rem;
        font-size: 13px;
    }
}
@media screen and (min-width: 400px) and (max-width: 440px){
    .nav-link-row{
        font-size: 7px;
    }
}
@media screen and (min-width: 450px) and (max-width: 500px){
    .nav-bottom-cover{
        margin-left: 7rem;
        width: 60px;
        height: 37px;
    }
}
@media screen and (min-width: 500px) and (max-width: 576px){
    .nav-bottom-cover{
        margin-left: 8.6rem;
        width: 60px;
        height: 37px;
    }
}

/* Landscape phones */
@media screen and (min-width:576px) and (max-width:768px) {

        /*  STYLING HOMEPAGE */
        .homepage-container{
            padding-left: 33px
        }
        .sec-one-title{
            font-size: 22px;
        }
        .sec-one-sub-title{
            font-size: 24px;
            padding-top:12px;
        }
        .sec-one-description{
            padding-top: 12px;
            font-size: 13px;
        }
        .sec-one-btn-row{
            padding-top: 15px;
        }
        .sec-one-explore-btn{
            font-size: 12px;
        }
        .sec-one-contact-btn{
            font-size: 12px;
            width: 120px;
        }
        .sec-one-statistic-row{
            padding-left: 7px;
            padding-top: 15px;
        }
        .sec-one-project-cover{
            width:19px;
            height:13px;
        }
        .sec-one-project-number-div{
            margin-top: -15px;
            padding-left: 10px;
        }
        .sec-one-project-number{
            font-size: 19px;
        }
        .sec-one-project-title{
            font-size: 15px;
        }
        .sec-one-building-col{
            padding-left: 1.2rem;
        }
        .sec-one-building-cover{
            width:19px;
            height:13px;
        }
        .sec-one-building-number-div{
            margin-top: -15px;
            padding-left: 10px;
        }
        .sec-one-building-number{
            font-size: 19px;
        }
        .sec-one-building-title{
            font-size: 15px;
        }
        .sec-one-employee-col{
            padding-left: 1.5rem;
        }
        .sec-one-employee-cover{
            width:19px;
            height:13px;
        }
        .sec-one-employee-number-div{
            margin-top: -15px;
            padding-left: 10px;
        }
        .sec-one-employee-number{
            font-size: 19px;
        }
        .sec-one-employee-title{
            font-size: 15px;
        }
    
        /* col two */
        .nav-side-cover-col{
            padding-top: 3rem;
        }
        .nav-side-cover{
            width: 55px;
            height: 95px;
        }
        .nav-bottom-cover{
            margin-left: 9rem;
            width: 90px;
            height: 47px;
        }
        .nav-img-link-div{
            padding-top: 7px;
        }
        .nav-link-row{
            font-size: 9px;
            text-align: none;
            justify-content: none;
        }
        .nav-img{
            height: 410px;
        }
    
        /* STYLING CATEGORY */
        .category-row{
            border-radius: 70px;
            padding: 1rem 0rem 0.9rem;
        }
        .category-div{
            font-weight: 700;
            font-size: 19px;
            color: #059595;
        }
        .category-img{
            width: 17.06px;
            height: 14.29px;
        }
    
        /* STYLING COMPANY ACQUIREMENT */
        .comapny-reason-row-one-col-one-text{
            font-size: 15px;
        }
        .comapny-reason-row-one-col-one-btn-div{
            padding-top: 1px;
        }
        .comapny-reason-row-one-col-two-text{
            font-size: 25px;
        }
    
        .comapny-reason-row-two{
            padding-top: 1.4rem;
        }
        .comapny-reason-row-two-img{
            height: 470px;
        }
        .comapny-reason-row-two-col-two{
            padding-left:1rem
        }
        .comapny-reason-row-two-col-two .row{
            padding-top: 3rem;
        }
        .comapny-reason-row-two-number{
            font-size: 29px;
            padding-left: 10px;
        }
        .comapny-reason-row-two-number-bg-cover-one{
            border-top-left-radius:4px ;
            border-top-right-radius:15px ;
            border-bottom-left-radius:15px ;
            border-bottom-right-radius:4px ;
            width: 29px;
            height: 35px;
            margin-top: -1.4rem;
        }
        .comapny-reason-row-two-number-bg-cover-two{
            border-top-left-radius:4px ;
            border-top-right-radius:15px ;
            border-bottom-left-radius:15px ;
            border-bottom-right-radius:4px ;
            width: 29px;
            height: 35px;
            margin-top: -1.4rem;
        }
        .comapny-reason-row-two-number-bg-cover-three{
            border-top-left-radius:4px ;
            border-top-right-radius:15px ;
            border-bottom-left-radius:15px ;
            border-bottom-right-radius:4px ;
            width: 29px;
            height: 35px;
            margin-top: -1.4rem;
        }
        .comapny-reason-row-two-text-col{
            padding-top: 10px;
            padding-left: 2rem;
        }
        .comapny-reason-row-two-text{
            font-size: 12px;
        }
    
        /* STYLING ENGINEER PAGE */
    
        .engineer-container{
            padding-top: 4rem;
            padding-left: 1rem;
            padding-right: 1rem;
            
        }
        .engineer-heading{
            font-size: 37px;
        }
        .engineer-sub-heading{
            font-size: 24px;
        }
        .engineer-row{
            padding-top: 0rem;
        }
        .engineer-col{
            width: 90%;
            margin-top: 2rem;
        }
        .engineer-img{
            width: 145px;
            height: 140px;
        }
        .engineer-name{
            font-size: 22px;
        }
        .engineer-country{
            font-size: 18px;
        }
        .engineer-number{
            font-size: 19px;
        }
        .engineer-email{
            font-size: 18px;
        }
    
    
        /* STYLING FOOTER PAGE */
    
        .footer-col-title{
            font-size: 22px;
        }
        .footer-col-sub-title{
            font-size: 15px;
        }
        .footer-col-one-row-icon{
            width: 20px;
            height: 28px;
        }
        .footer-title{
            padding-top: 1rem;
            font-size: 22px; 
        }
        .footer-item{
            font-size: 17px; 
        }
        .footer-input-div{
            padding-top: 10px;
        }
        .footer-input{
            padding: 7px 10px 7px;
            width: 200px;
        }
        .footer-input::placeholder{
            font-size: 19px;
        }
        .footer-icon{
            width: 30px;
            height: 30px;
            margin-left: -2rem;
        }
        .footer-copyright-div{
            padding-top: 5rem;
            font-size: 19px;
        }
}
@media screen and (min-width:620px) and (max-width:700px) {
    .nav-side-cover{
        width: 82px;
        height: 100px;
    }
    .nav-bottom-cover{
        margin-left: 10rem;
        width: 95px;
        height: 49px;
    }
   
}
@media screen and (min-width:700px) and (max-width:768px) {
    .nav-side-cover{
        width: 82px;
        height: 100px;
    }
    .nav-bottom-cover{
        margin-left: 11.5rem;
        width: 100px;
        height: 49px;
    }
    .nav-link-row{
        font-size: 13px;
        text-align: none;
        justify-content: none;
    }
   
}

/* Tablet */
@media screen and (min-width:768px) and (max-width:992px) {

    /*  STYLING HOMEPAGE */
    .homepage-container{
        padding-left: 33px
    }
    .sec-one-title{
        font-size: 25px;
    }
    .sec-one-sub-title{
        font-size: 32px;
        padding-top:12px;
    }
    .sec-one-description{
        padding-top: 12px;
        font-size: 16px;
    }
    .sec-one-btn-row{
        padding-top: 15px;
    }
    .sec-one-explore-btn{
        font-size: 15px;
    }
    .sec-one-contact-btn{
        font-size: 15px;
        width: 140px;
    }
    .sec-one-statistic-row{
        padding-left: 7px;
        padding-top: 30px;
    }
    .sec-one-project-col{
        padding-left: 1.2rem;
    }
    .sec-one-project-cover{
        width:22px;
        height:16px;
    }
    .sec-one-project-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-project-number{
        font-size: 22px;
    }
    .sec-one-project-title{
        font-size: 15px;
    }
    .sec-one-building-col{
        padding-left: 1.2rem;
    }
    .sec-one-building-cover{
        width:22px;
        height:16px;
    }
    .sec-one-building-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-building-number{
        font-size: 22px;
    }
    .sec-one-building-title{
        font-size: 15px;
    }
    .sec-one-employee-col{
        padding-left: 1.5rem;
    }
    .sec-one-employee-cover{
        width:22px;
        height:16px;
    }
    .sec-one-employee-number-div{
        margin-top: -15px;
        padding-left: 10px;
    }
    .sec-one-employee-number{
        font-size: 22px;
    }
    .sec-one-employee-title{
        font-size: 15px;
    }

    /* col two */
    .nav-side-cover-col{
        padding-top: 3rem;
    }
    .nav-side-cover{
        width: 75px;
        height: 110px;
    }
    .nav-bottom-cover{
        margin-left: 13rem;
        width: 130px;
        height: 60px;
    }
    .nav-img-link-div{
        padding-top: 7px;
    }
    .nav-link-row{
        font-size: 14px;
        text-align: none;
        justify-content: none;
    }
    .nav-img{
        height: 520px;
    }

    /* STYLING CATEGORY */
    .category-row{
        border-radius: 70px;
        padding: 2rem 0rem 1.9rem;
    }
    .category-div{
        font-weight: 700;
        font-size: 22px;
        color: #059595;
    }
    .category-img{
        width: 20.06px;
        height: 18.29px;
    }

    /* STYLING COMPANY ACQUIREMENT */
    .comapny-reason-row-one-col-one-text{
        font-size: 17px;
    }
    .comapny-reason-row-one-col-one-btn-div{
        padding-top: 1px;
    }
    .comapny-reason-row-one-col-two-text{
        font-size: 26px;
    }

    .comapny-reason-row-two{
        padding-top: 1.4rem;
    }
    .comapny-reason-row-two-img{
        height: 470px;
    }
    .comapny-reason-row-two-col-two{
        padding-left:1rem
    }
    .comapny-reason-row-two-col-two .row{
        padding-top: 4rem;
    }
    .comapny-reason-row-two-number{
        font-size: 32px;
        padding-left: 10px;
    }
    .comapny-reason-row-two-number-bg-cover-one{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 32px;
        height: 38px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-two{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 32px;
        height: 38px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-number-bg-cover-three{
        border-top-left-radius:4px ;
        border-top-right-radius:15px ;
        border-bottom-left-radius:15px ;
        border-bottom-right-radius:4px ;
        width: 32px;
        height: 38px;
        margin-top: -1.4rem;
    }
    .comapny-reason-row-two-text-col{
        padding-top: 10px;
        padding-left: 2rem;
    }
    .comapny-reason-row-two-text{
        font-size: 14px;
    }

    /* STYLING ENGINEER PAGE */

    .engineer-container{
        padding-top: 4rem;
        padding-left: 1rem;
        padding-right: 1rem;
        
    }
    .engineer-heading{
        font-size: 40px;
    }
    .engineer-sub-heading{
        font-size: 27px;
    }
    .engineer-row{
        padding-top: 0rem;
    }
    .engineer-col{
        width: 29%;
        margin-top: 2rem;
    }
    .engineer-img{
        margin-right: 5px;
        margin-left: 5px;
        width: 145px;
        height: 140px;
    }
    .engineer-name{
        font-size: 22px;
    }
    .engineer-country{
        font-size: 18px;
    }
    .engineer-number{
        font-size: 19px;
    }
    .engineer-email{
        font-size: 18px;
    }


    /* STYLING FOOTER PAGE */

    .footer-col-title{
        font-size: 19px;
    }
    .footer-col-sub-title{
        font-size: 13px;
    }
    .footer-col-one-row-icon{
        width: 20px;
        height: 28px;
    }
    .footer-title{
        font-size: 19px; 
    }
    .footer-item{
        font-size: 14px; 
    }
    .footer-input-div{
        padding-top: 10px;
    }
    .footer-input{
        padding: 7px 10px 7px;
        width: 180px;
    }
    .footer-input::placeholder{
        font-size: 14px;
    }
    .footer-icon{
        width: 25px;
        height: 25px;
        margin-left: -3.1rem;
    }
    .footer-copyright-div{
        padding-top: 5rem;
        font-size: 19px;
    }
}
@media screen and (min-width:859px) and (max-width:910px){
    .nav-side-cover{
        width: 83px;
        height: 110px;
    }
    .nav-bottom-cover{
        margin-left: 15rem;
        width: 130px;
        height: 60px;
    }
}
@media screen and (min-width:910px) and (max-width:992px){
    .nav-side-cover{
        width: 95px;
        height: 130px;
    }
    .nav-bottom-cover{
        margin-left: 17rem;
        width: 130px;
        height: 60px;
    }
    .comapny-reason-row-one-col-two-text{
        font-size: 29px;
    }
}

/* Small screen Laptops */
@media screen and (min-width:992px) and (max-width:1200px) {
    /* HOME PAGE */
    .sec-one-sub-title{
        font-size: 37px;
    }
    .sec-one-contact-btn{
        font-size: 18px; 
        width: 160px;
    }
    .sec-one-project-title{
        font-size: 13px;
    }
    .sec-one-building-title{
        font-size: 13px;
    }
    .sec-one-employee-title{
        font-size: 11.3px;
    }
    .nav-side-cover-col{
        padding-top:6.6rem;
    }
    .nav-side-cover{
        height: 150px;
        width: 120px;
    }
    .nav-bottom-cover{
        margin-left: 17rem;
        height: 70px;
        width: 140px;
    }

    /* COMPANY ACQUIREMENT */
    .comapny-reason-row-one-col-two-text{
        font-size: 30px;
    }
    .comapny-reason-row-two-img{
        height: 680px;
    }
    .comapny-reason-row-two-col-two .row{
        padding-top: 4.5rem;
    }
    .comapny-reason-row-two-text-col{
        padding-left: 3rem;
    }
    .comapny-reason-row-two-text{
        font-size: 16px;
    }
}
@media screen and (min-width:1126px) and (max-width:1200px){
    .comapny-reason-row-one-col-two-text{
        font-size: 36px;
    }
}
@media screen and (min-width:1196px) and (max-width:1200px){
    .sec-one-sub-title{
        font-size: 40px;
    }
}



